.advantages {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;

  @media (max-width: 900px) {
    padding: 50px 0;
  }
}

.advantages__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.advantages__content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(15px);
  background: rgba(16, 17, 17, 0.6);


  img {
    width: 45px;
    height: 52px;

    @media (max-width: 800px) {
      width: 24px;
      height: 28px;
    }
  }

  @media (max-width: 800px) {
    padding: 5px;
    border-radius: 10px;
    gap: 10px;
  }
}

.advantages__item-title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-top: auto;

  @media (max-width: 800px) {
    font-size: 16px;
  }
}

.advantages__item-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.03em;
  color: #ccc;
  min-height: 66px;

  @media (max-width: 800px) {
    font-size: 14px;
  }
}